html {
	width: 960px;
	margin: 0 auto;
}

/*  body  */
body {
    background-color:#1C5D99;
	font-size: 1.25em; 
    margin-top: 10px;
    color:#000000;
    align-content: center;
}

h1 {
    font-family:'Loved by the King', sans-serif;
    font-size: 72px;
    font-style:normal;
    font-weight: 700;
    line-height: 26px;
    color:#FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    left:0;
    right:0;
    bottom:0px;
}

ol {
    font-family: 'Barlow', Verdana, Arial, sans-serif;
    color: white;
    list-style-position: outside;
}

ul {
    font-family: 'Barlow', Verdana, Arial, sans-serif;
    color:white;
    list-style-position: outside;
}

p {
    font-family: 'Barlow', Verdana, Arial, san-serif;
    font-size: 16px;
    color:#FFFFFF;
    background-color: #1C5D99;
    text-indent: 2em;
/*     padding: 0 5px 0 5px; */
}

hr {
	clear: both;
	border-color: #1C5D99;
	background-color: #1C5D99;
}

div {
    color:white;
    color:#FFFFFF;
    border: 1em solid #1C5D99;
    border-radius: 4px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top; 0px;
    background-color: #1C5D99
}

img.banner{
    display:block;
    float:center;
}

header {
    font-family:'Loved by the King', sans-serif;
    font-size: 40px;
    font-style:normal;
    font-weight: 700;
    line-height: 26px;
    color:#FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-stretch: expanded;
    color:#FFFFFF;
    border: dashed #FFFFFF; 
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}


a:link{
    color:deepskyblue;
}
a:visited{
    color:lightsteelblue;  
}
a:hover{
    color:#BBCDE5; 
}
a:active{
    color:cornflowerblue;  
}

div.row {
    display: block;
    border: 3px;
    margin:0 auto;      
}

.container {
  position: relative;
  text-align: center;
  color: white;
}


img.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

img.bridge{
    float: right;
    padding: 20px;
}

img.yeah{
    float:left;
    padding: 20px;
	padding-right: 10px;
    padding-bottom: 50px;
}

img.brisk{
    float: right;
    padding: 20px;
    padding-right: 20px;
}

